
.logo
    h1
        display: none
    width: 75%
    margin: 25px auto
    @include tablet
        width: 50%
    @include desktop
        width: 50%
.info
    font-family: $serifFont
    text-align: center
    margin: auto
    padding: 20px
    address
        font-size: 1.3em
        font-weight: 700
        margin-top: 10px
main aside
    background-color: $darkGrey
    font-family: $serifFont
    padding: 20px
    margin: 20px 0
    clear: both

.cta
    margin: 20px 0
    position: relative
    a
        position: absolute
        height: 100%
        width: 100%
    h2
        font-size: $cta-font-size
        text-align: center
        margin-top: 11%

.cta1, .cta3
    @include tablet
        width: 49%
        float: left
    @include desktop
        width: 50%
        float: left

.cta2,.cta4
    @include tablet
        width: 49%
        float: right
    @include desktop
        width: 50%
        float: right
