@import url('https://fonts.googleapis.com/css?family=Inconsolata:400,700')
@import cssReset
@import mediaQ
@import nav


// Variables
$navyBlue: #030e35

.top-img
    width: 100%

html
    background-color: $navyBlue
