/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
@import url("https://fonts.googleapis.com/css?family=Inconsolata:400,700");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article,
form,
table, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, form, table, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

@font-face {
  font-family: 'atwriter';
  src: url("../fonts/atwriter.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

a {
  text-decoration: none;
  color: #fff; }

.active-nav {
  background: rgba(0, 0, 0, 0.9); }

.scrolled {
  background-color: rgba(0, 0, 0, 0.9) !important;
  transition: background-color 200ms linear; }

nav {
  float: right;
  font-family: "Inconsolata", monospace;
  font-weight: 400;
  font-size: 1.5em;
  width: 100%;
  padding: 50px 0 10px; }
  nav ul {
    display: none;
    list-style: none; }
    nav ul li {
      float: none;
      position: relative; }
      nav ul li a {
        display: block;
        color: #fff;
        text-decoration: none;
        text-align: center;
        padding: 15px;
        line-height: 0px;
        /* any a tag in our nav list that is NOT an only child */ }
        nav ul li a:hover {
          color: #ffde4c; }
      nav ul li ul li {
        min-width: 138px; }
        nav ul li ul li a {
          padding: 15px 15px 15px 30px;
          line-height: 20px;
          border: none; }
  nav ul.nav-dropdown {
    position: absolute;
    z-index: 1;
    display: none;
    position: static;
    background: rgba(255, 255, 255, 0.2); }

.nav-mobile {
  display: none;
  position: absolute;
  top: 5px;
  right: 15px;
  height: 50px;
  width: 50px;
  display: block; }

.navigation {
  height: 50px;
  height: 50px;
  width: 100%;
  position: fixed;
  z-index: 1;
  max-width: 1200px; }

.nav-container {
  margin: 0 auto;
  display: flex;
  justify-content: center; }

.brand {
  position: absolute;
  left: 25px;
  width: 70px;
  height: 50px;
  margin-top: 15px;
  line-height: 50px;
  font-size: 2em;
  font-family: "Inconsolata", monospace;
  background-image: url("../img/canon.svg");
  background-repeat: no-repeat; }

/* Elijah Manor CSS animated hamburger icon START http://codepen.io/elijahmanor/pen/Igpoe */
#nav-toggle {
  position: absolute;
  left: 8px;
  top: 13px;
  cursor: pointer;
  padding: 10px 35px 16px 0px; }
  #nav-toggle span,
  #nav-toggle span:before,
  #nav-toggle span:after {
    cursor: pointer;
    border-radius: 1px;
    height: 3px;
    width: 35px;
    background: #fff;
    position: absolute;
    display: block;
    content: '';
    transition: all 300ms ease-in-out; }
  #nav-toggle span:before {
    top: -10px; }
  #nav-toggle span:after {
    bottom: -10px; }
  #nav-toggle.active span {
    background-color: transparent; }
    #nav-toggle.active span:before, #nav-toggle.active span:after {
      top: 0; }
    #nav-toggle.active span:before {
      transform: rotate(45deg); }
    #nav-toggle.active span:after {
      transform: rotate(-45deg); }

li.social-media {
  display: flex;
  justify-content: center; }

a svg:hover #Facebook,
a svg:hover #Twitter,
a svg:hover #Instagram {
  fill: #ffde4c; }

.logo {
  width: 75%;
  margin: 25px auto; }
  .logo h1 {
    display: none; }
  @media (min-width: 480px) and (max-width: 899px) {
    .logo {
      width: 50%; } }
  @media (min-width: 900px) {
    .logo {
      width: 50%; } }

.info {
  font-family: "Inconsolata", monospace;
  text-align: center;
  margin: auto;
  padding: 20px; }
  .info address {
    font-size: 1.3em;
    font-weight: 700;
    margin-top: 10px; }

main aside {
  background-color: #3f3f3f;
  font-family: "Inconsolata", monospace;
  padding: 20px;
  margin: 20px 0;
  clear: both; }

.cta {
  margin: 20px 0;
  position: relative; }
  .cta a {
    position: absolute;
    height: 100%;
    width: 100%; }
  .cta h2 {
    font-size: 2.5em;
    text-align: center;
    margin-top: 11%; }

@media (min-width: 480px) and (max-width: 899px) {
  .cta1, .cta3 {
    width: 49%;
    float: left; } }

@media (min-width: 900px) {
  .cta1, .cta3 {
    width: 50%;
    float: left; } }

@media (min-width: 480px) and (max-width: 899px) {
  .cta2, .cta4 {
    width: 49%;
    float: right; } }

@media (min-width: 900px) {
  .cta2, .cta4 {
    width: 50%;
    float: right; } }

img {
  width: 100%; }

.top-img {
  width: 100%; }

html {
  background-color: #030e35; }

body {
  color: #fff;
  font-family: "atwriter", serif;
  line-height: 1.2em;
  width: 100%; }

div#wrapper {
  max-width: 1200px;
  margin: auto; }

a:hover {
  color: #ffde4c; }

p {
  margin-top: 10px; }

h2 {
  font-size: 1.5em;
  margin: 2% 0 0 5%; }

header {
  position: relative; }
  header div {
    left: 0;
    position: absolute;
    text-align: center;
    top: 40%;
    width: 100%;
    color: #000000;
    font-size: 3em; }
    header div h2 {
      display: flex;
      justify-content: center;
      width: 30%;
      margin: auto;
      line-height: 130%;
      background: rgba(0, 0, 0, 0.8);
      font-size: 70%;
      border: 1px solid #fff;
      color: white; }
      @media (min-width: 480px) and (max-width: 899px) {
        header div h2 {
          font-size: 100%; } }
      @media (min-width: 900px) {
        header div h2 {
          font-size: 100%; } }

article, form, table {
  background: #fffdf2;
  color: #000000;
  padding: 20px;
  width: 80%;
  margin: 20px auto;
  overflow: auto;
  display: flex;
  flex-direction: column; }
  @media (min-width: 480px) and (max-width: 899px) {
    article, form, table {
      flex-direction: row; } }
  @media (min-width: 900px) {
    article, form, table {
      flex-direction: row; } }
  article h3 span, form h3 span, table h3 span, article h4 span, form h4 span, table h4 span {
    font-family: "Inconsolata", monospace;
    font-weight: 700;
    font-size: 1.2em; }
  article .img-award, form .img-award, table .img-award {
    width: 50%; }
  article .img-about, form .img-about, table .img-about, article .img-award, form .img-award, table .img-award {
    width: 80%;
    margin: 15px auto; }
    @media (min-width: 480px) and (max-width: 899px) {
      article .img-about, form .img-about, table .img-about, article .img-award, form .img-award, table .img-award {
        width: 30%;
        margin-right: 20px; } }
    @media (min-width: 900px) {
      article .img-about, form .img-about, table .img-about, article .img-award, form .img-award, table .img-award {
        width: 30%;
        margin-right: 20px; } }
  article .content-award, form .content-award, table .content-award {
    width: 100%;
    margin: auto 0; }
    @media (min-width: 480px) and (max-width: 899px) {
      article .content-award, form .content-award, table .content-award {
        width: 70%; } }
    @media (min-width: 900px) {
      article .content-award, form .content-award, table .content-award {
        width: 70%; } }
  article .content-about, form .content-about, table .content-about {
    width: 100%;
    margin: auto 0; }
    @media (min-width: 480px) and (max-width: 899px) {
      article .content-about, form .content-about, table .content-about {
        width: 70%; } }
    @media (min-width: 900px) {
      article .content-about, form .content-about, table .content-about {
        width: 70%; } }

main#awardsPage {
  display: flex;
  flex-direction: column; }

main#aboutPage {
  display: flex;
  flex-direction: column-reverse; }

button {
  display: inline-block;
  height: 38px;
  padding: 0 30px;
  color: #555;
  text-align: center;
  font-size: 11px;
  font-weight: 600;
  line-height: 38px;
  letter-spacing: .1rem;
  text-transform: uppercase;
  text-decoration: none;
  white-space: nowrap;
  background-color: #fff;
  border-radius: 4px;
  border: 1px solid #bbb;
  cursor: pointer;
  box-sizing: border-box; }
  button:hover {
    background-color: #3f3f3f;
    color: #fff; }

#admin-button {
  padding: 20px;
  width: 80%;
  margin: 20px auto; }

form {
  flex-direction: column; }
  form input {
    width: 100%;
    height: 30px;
    background-color: #f2f2f2;
    border-radius: 15px;
    border-style: none;
    padding-left: 20px; }

div.form-group {
  display: block;
  width: 90%;
  height: 34px;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  background-image: none;
  border-radius: 10px;
  margin: 10px auto; }
  div.form-group select {
    background-color: #bababa; }

#adminSelector {
  margin: auto;
  width: 50%; }

select {
  background: transparent;
  border: none;
  font-size: 14px;
  height: 29px;
  padding: 5px;
  width: 268px; }

table {
  background-color: #fff;
  font-size: 13px; }
  table th, table td {
    padding: 12px 15px;
    text-align: left;
    border-bottom: 1px solid #E1E1E1; }
  table th {
    font-family: "Inconsolata", monospace;
    font-weight: 600; }
  table td a {
    color: #4286f4; }

@media (min-width: 900px) {
  footer {
    background-color: #bababa;
    padding: 20px;
    overflow: auto; }
    footer img {
      width: 50%;
      float: right; } }

.columns {
  column-width: 8em; }
  @media (min-width: 480px) and (max-width: 899px) {
    .columns {
      column-width: 11.2em; } }
  @media (min-width: 900px) {
    .columns {
      column-width: 11.2em; } }

.utility-menu {
  background-color: #bababa;
  padding: 20px; }
  @media (min-width: 900px) {
    .utility-menu {
      width: 50%; } }
  .utility-menu a {
    color: #000000; }
  .utility-menu a:hover {
    color: #ffde4c; }
  .utility-menu ul li.social-media {
    float: left;
    margin-top: 10px; }
    .utility-menu ul li.social-media a {
      margin-right: 10px; }
  .utility-menu ul ul {
    padding: 0 0 0 15px; }
