@import cssReset
@import fontsAndColors
@import mediaQ
@import nav
@import homePage

img
    width: 100%

.top-img
    width: 100%
    // filter: grayscale(1)

html
    background-color: $navyBlue

body
    color: $white
    font-family: $typewriter
    line-height: 1.2em
    width: 100%

div#wrapper
    max-width: 1200px
    margin: auto

p
    margin-top: 10px

header
    position: relative
    h2
        left: 0
        position: absolute
        text-align: center
        top: 50%
        width: 100%
        color: $black
        font-size: 3em

article
    background: $offWhite
    color: $black
    padding: 20px
    width: 90%
    margin: 20px auto
    overflow: auto
    display: flex
    flex-direction: row

    h3 span, h4 span
        font-family: $serifFont
        font-weight: 700
        font-size: 1.2em

    .img-award
        width: 30%

    .content-award
        width: 70%
        margin: auto 0
        margin-left: 15px
    //img
        width: 35%
        float: left
        max-width: 250px
        margin: 0 19px

footer
    @include desktop
        background-color: $lightGrey
        padding: 20px
        overflow: auto
        img
            width: 50%
            float: right

.columns
    column-width: 8em
    @include tablet
        column-width: 11.2em
    @include desktop
        column-width: 11.2em
.utility-menu
    background-color: $lightGrey
    padding: 20px

    @include desktop
        width: 50%

    a
        color: $black
    a:hover
        color: $link-hover-color
    ul
        li.social-media
            float: left
            margin-top: 10px
            a
                margin-right: 10px

        ul
            padding: 0 0 0 15px
